<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Canvastavla</h1>
      <p>Horvs engagemang och arbete för sektionen förtjänar ett minnesmärke i form av ett konstverk. Var med och hjälp oss göra det till verklighet.</p>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hur går det till?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary"></i>
          <h3>Registrera bidrag</h3>
          <p class="text-muted">Fyll i formuläret med hur mycket du vill bidra med. Alla bidrag på 20 kr eller mer belönas med nick på plaketten.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-envelope-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Verifiera mailadress</h3>
          <p class="text-muted">Så fort du klickar på länken i mailet du får så är ditt bidragslöfte bindande, men du kan ändra ditt löfte fram till deadline. Din email är din identitet.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Swisha vid deadline</h3>
          <p class="text-muted">Om vi når målet skickas ett mail ut med uppgifter om hur du skickar in pengar. Du får bekräftelse på att betalningen registrerats.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Party!</h3>
          <p class="text-muted">Tavlans avtäckning görs i samband med en liten fest där alla givare är varmt välkomna, mer info kommer.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">Vad går pengarna till?</h2>
      <hr class="light">
      <p>Förutom själva canvastavlan kommer de insamlade pengarna gå till att gravera en plakett med lite text om Horv och tavlan, och framför allt en lista på alla som bidragit med 20 kr eller mer. Vid ett eventuellt överskott kommer en del av pengarna läggas på förfriskningar till festligheterna kring avtäckningen, och resten går till välgörande ändamål. En fullständig redovisning kommer presenteras här och i sedvanliga informationskanaler.</p>
    </div>
  </div>
</section>
<section class="bg-dark">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">Hur kommer det se ut?</h2>
      <hr class="light" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2 col-md-6">
      <img src="img/detail.png" style="width: 100%"/>
    </div>
    <div class="col-lg-4 col-md-6">
      <img src="img/render.jpg" style="width: 100%"/>
    </div>
  </div>
</section>
<section class="bg-primary">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">Registrera mig!</h2>
    </div>
  </div>
    <form>
      <div class="row">
        <div class="col-xs-2 col-md-offset-3 text-right">
          <label for="emailInput">Email</label>
        </div>
        <div class="col-xs-4">
          <input id="emailInput" type="email" autocapitalize="none" autocomplete="email" autocorrect="off"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-offset-3 text-right">
          <label for="pledgeInput">Bidrag (kr)</label>
        </div>
        <div class="col-xs-4">
          <input id="pledgeInput" type="number" value="20" min="0" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-offset-3 text-right">
          <label for="nickInput">Nick</label>
        </div>
        <div class="col-xs-4">
          <input id="nickInput" type="text" autocapitalize="none" autocomplete="off" autocorrect="off"/>
        </div>
      </div>
    </form>
  </div>
