.bg-primary input {
  background-color: #f05f40;
  border: 2px solid white;
  margin-bottom: 1em;
  border-radius: .25em;
  padding: .25em .5em;
}

.bg-primary label {
  line-height: 3rem;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-success {
  color: green;
}

header {
  background-image: url(../img/header-500.jpg);
}

@media (min-width: 500px) {
  header {
    background-image: url(../img/header-1k.jpg);
  }
}

@media (min-width: 1000px) {
  header {
    background-image: url(../img/header-2k.jpg);
  }
}

@media (min-width: 2000px) {
  header {
    background-image: url(../img/header.jpg);
  }
}
